/* Example styling of a h1 element */
h1 {
  color: #0025FF;
  font-size: 30 px
  display: block;
  text-align: center
  
    }
body {
  background-color: rgb(109, 153, 155);
}
div  {
  height:  10%
  width;   10% 
}
